.chat-main
  .chat-main__header
    .chat-main__header-info
      .chat-main__header-info--title
        = @group.name
      .chat-main__header-info--menber
        Menber:
        - @group.users.each do |user|
          = user.name
    = link_to edit_groupgroup_path(current_user), class: "chat-main__header-edit-btn" do
      Edit
  .chat-main__chat
    = render @messages
  .chat-main__form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
      .input-box
        = f.label :image, class: 'input-box__messbox' do
          = icon('far', 'image', class: 'input-box__icon')
          = f.file_field :image, class: 'input-box__file'
      = f.submit 'Send', class: 'input-box__submit-btn'